.Dish__Container{
  text-align: center;
  background-color: rgba(205, 165, 243, 0.63);
  input{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-top:10px;
  }
}